@font-face {
	font-family: "Montserrat Bold";
	src: url("../fonts/MontserratBold.woff2") format("woff2"),
		 url("../fonts/MontserratBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Mulish Black";
	src: url("../fonts/Mulish-Black.woff2") format("woff2"),
		 url("../fonts/Mulish-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
@font-face {
	font-family: "Mulish Bold";
	src: url("../fonts/Mulish-Bold.ttf") format("woff2"),
		 url("../fonts/Mulish-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Mulish Regular";
	src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
		 url("../fonts/Mulish-Regular.ttf") format("ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
:root {
	--title-f-f: "Montserrat Bold";
	--button-f-f: "Mulish Bold";
	--olive-c: rgb(98, 141, 5);
	--title-c: rgb(0, 0, 0);
	--white-c: rgb(255, 255, 255);
}
* {
	scroll-behavior: smooth;
}
.body {
	background-color: rgb(237, 237, 237);
	font-size: 20px;
	font-family: "Mulish Regular";
	position: relative;
	width: 100%;
}
.wrapper {
	max-width: 1520px;
	width: 100%;
	margin: 0 auto;
}
.header-top {
	background-color: rgb(98, 93, 93);
}
.header-top__wrap {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	margin-left: auto;
}
.header__email {
	color: rgb(180, 180, 180);
	font-size: 0.9rem;
	margin-right: 9em;
	text-decoration: none;
}
.schedule {
	display: flex;
	flex-direction: column;
	margin-right: 12em;
}
.schedule__item {
	font-size: 0.9rem;
	color: rgb(180, 180, 180);
	font-family: var(--title-f-f);
}
.schedule__item + .schedule__item {
	margin-top: 0.2em;
}
.social {
	margin-right: 5.5em;
}
.social__link {
	text-decoration: none;
}
.social__link + .social__link  {
	margin-left: 1em;
}
.social-icon {
	transition: 0.3s;
}
.social-icon:hover {
	transform: translateY(-0.2em);
}
.header__phone {
	color: var(--white-c);
	font-family: var(--title-f-f);
	font-size: 1rem;
	text-decoration: none;
}
.header-bottom {
	background-color: rgb(217, 217, 217);
	position: relative;
}
.header-bottom__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
	width: 70%;
	margin-left: auto;
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
}
.nav {
	height: 100%;
}
.menu {
	list-style: none;
	display: flex;
	align-items: center;
	height: inherit;
}
.menu__item {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 1.5em;
	cursor: pointer;
}
.menu__item:first-child {
	margin-left: -1.5em;
}
.menu__item:after {
	content: "";
	position: absolute;
	top: calc(100% - 3px);
	left: 0;
	height: 3px;
	width: 0;
	background-color: var(--olive-c);
	transition: 0.5s;
}
.menu__item:hover:after {
	width: 100%;
}
.menu__link {
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-size: 0.9rem;
	font-family: var(--button-f-f);
	transition: 0.5s color;
}
.menu__item:hover .menu__link {
	color: var(--olive-c);
}
.burger {
	display: none;
}
.header__buttons {
	display: flex;
	flex-direction: column;
}
.button__item + .button__item {
	margin-top: 0.7em;
}
.button__item {
	font-family: var(--button-f-f);
	font-size: 0.9rem;
	color: var(--white-c);
	padding: 0.35em 2em;
	background-color: rgb(98, 93, 93);
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.button__item:last-child {
	background-color: var(--white-c);
	color: rgb(72, 72, 72);
}
.button__item:hover {
	background-color: var(--white-c);
	color: rgb(72, 72, 72);
}
.button__item:hover:last-child {
	color: var(--white-c);
	background-color: rgb(98, 93, 93);
}
.hero {
	height: 720px;
	background: url(..//images/hero__bg.png) center / cover no-repeat;
}
.hero-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2em;
	max-width: 50em;
	width: 100%;
	margin: 2em auto;
}
.hero-buttons__item {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(74, 74, 74);
	text-transform: uppercase;
	font-family: var(--button-f-f);
	height: 50px;
	background-color: var(--white-c);
	position: relative;
	/* border-left: 2px solid var(--olive-c);
	border-right: 2px solid var(--olive-c); */
}
.hero-buttons__item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 2px;
	background-color: var(--olive-c);
	transition-timing-function: ease;
	transition-property: height;
	transition-delay: 0;
	transition-duration: 0.2s;
	box-sizing: border-box;
	z-index: 1;
}
.hero-buttons__item:hover {
	border-left: none;
	border-right: none;
}
.hero-buttons__item:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0;
	width: 2px;
	background-color: var(--olive-c);
	transition-property: height;
	transition-duration: 0.4s;
	transition-delay: 0.4s;
	box-sizing: border-box;
	z-index: 1;
}
.hero-buttons__item .button__text:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: var(--olive-c);
	transition-property: width;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}
.hero-buttons__item .button__text:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0%;
	background-color: var(--olive-c);
	transition-property: width;
	transition-duration: 0.2s;
	transition-delay: 0.7s;
}
.hero-buttons__item:hover:before,
.hero-buttons__item:hover:after {
	height: 100%;
}
.hero-buttons__item:hover .button__text:before,
.hero-buttons__item:hover .button__text:after {
	width: 100%;
}
.form-buy {
	background-color: var(--white-c);
	border-top: 2px solid var(--olive-c);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	padding: 2em 11em;
}
.form__items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 2em;
	grid-row-gap: 1em;
}
.field-wrap {
	display: flex;
	flex-direction: column;
}
.form-buy__item {
	width: 300px;
	height: 45px;
	background-color: rgb(217, 217, 217);
	border: none;
	border-top: 2px solid rgb(173, 173, 173);
	font-size: 1.5rem;
	color: var(--olive-c);
	box-sizing: border-box;
}
.form-buy__item:focus {
	border: 2px solid var(--olive-c);
	background-color: var(--white-c);
}
.form-buy label {
	color: var(--title-c);
}
.form__btn {
	grid-column: 3;
	grid-row: 4;
	width: 300px;
	height: 60px;
	text-transform: uppercase;
	font-family: var(--button-f-f);
	cursor: pointer;
	color: var(--title-c);
	position: relative;
	transition: 0.3s;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.form__btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--olive-c);
	display: block;
	transition: 0.4s;
}
.form__btn:hover:before {
	width: 100%;
}
.form__btn:hover .btn__text {
	color: var(--white-c);
}
.catalog {
	padding: 4em 0;
}
.title {
	font-family: var(--title-f-f);
	color: var(--title-c);
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}
.title:before,
.title:after {
    content: "";
    position: relative;
	display: inline-block;
	vertical-align: middle;
    height: 3px;
    width: 100%;
    background-color: var(--olive-c);
}
.title:before {
	margin-left: -100%;
	left: -25px;
}
.title:after {
	margin-right: -100%;
	right: -25px;
}
.gelarry {
	margin-top: 2.5em;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: dense;
	grid-gap: 1em;
}
.gallery__item:first-child {
	grid-row: span 2;
	height: 100%;
}
.gallery__item:first-child img {
	object-fit: cover;
	height: 100%;
}
.gallery__item {
	position: relative;
	width: fit-content;
	height: fit-content;
	box-sizing: border-box;
	cursor: pointer;
}
.card__img {
	display: block;
	width: 100%;
}
.car-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	background-color: rgba(15, 15, 15, 0.8);
	border-top: 3px solid var(--olive-c);
	border-bottom: 3px solid var(--olive-c);
	transition: 0.4s;
}
.gallery__item:hover .car-info {
	height: calc(79% - 6px);
	opacity: 1;
}
.car-list {
	list-style: none;
	margin: 0 0.5em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.car-list__item {
	color: var(--white-c);
	font-size: 0.7rem;
	width: fit-content;
	flex: 1 1 40%;
	margin-top: 1em;
}
.car-list__item-white {
	font-family: var(--button-f-f);
	font-size: 0.8rem;
}
.gallery__item:first-child .car-list  {
	margin: 0.5em 0.3em;
}
.gallery__item:first-child .car-list__item {
	font-size: 1.2rem;
}
.gallery__item:first-child .car-list__item-white {
	font-size: 1.4rem;
	font-family: var(--button-f-f);
}
.card__text {
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 20%;
	padding: 0 1em;
	background-color: rgba(15, 15, 15, 0.8);
}
.card__title {
	color: rgb(207, 207, 207);
	font-family: var(--button-f-f);
	font-size: 1rem;
	margin-bottom: 0.2em;
}
.gallery__item:first-child .card__title {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}
.price__info {
	display: flex;
	justify-content: space-between;
}
.card__price {
	color:rgb(201, 201, 201);
	font-family: var(--button-f-f);
	margin-bottom: 1.2em;
	font-size: 0.8rem;
}
.gallery__item:first-child .card__price {
	font-size: 1rem;
}
.card__price-olive {
	color: var(--olive-c);
	font-family: var(--button-f-f);
	font-size: 1rem;
}
.gallery__item:first-child .card__price-olive {
	font-size: 1.5rem;
}
.per-month {
	color: var(--white-c);
	font-family: var(--button-f-f);
	font-size: 1rem;
	display: block;
}
.gallery__item:first-child .per-month {
	font-size: 1.55rem;
}
.catalog__btn {
	margin: 4em auto 0;
	display: block;
	border: 1px solid var(--title-c);
	color: var(--title-c);
	font-family: var(--button-f-f);
	text-transform: uppercase;
	padding: 1em 1.5em;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	transition: 0.4s;
}
.catalog__btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--olive-c);
	display: block;
	z-index: 1;
	transition: 0.4s;
}
.btn__text {
	display: block;
	position: relative;
	z-index: 2;
	transition: 0.5s;
}
.catalog__btn:hover {
	border-color: var(--olive-c);
}
.catalog__btn:hover:before {
	width: 100%;
}
.catalog__btn:hover .btn__text {
	color: var(--white-c);
}
.services {
	background-image: url(../images/services_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 4em 0;
}
.services-gallery {
	margin-top: 3em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.services-gallery__item {
	flex: 0 1 30%;
	position: relative;
	cursor: pointer;
}
.services-gallery__item:nth-child(n+4) {
	margin-top: 2em;
}
.services__img {
	display: block;
	width: 100%;
}
.services__info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.4s;
	color: var(--white-c);
}
.services__title {
	font-family: "Mulish Black";
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
.servisec__text {
	font-size: 0.9rem;
}
.services-gallery__item:hover .services__info {
	background-color: rgba(57, 82, 3, 0.7);
}
.about {
	padding: 4em 0; 	
}
.about__items {
	margin-top: 2em;
	display: flex;
	align-items: center;
	padding-right: 10em;
}
.about__photo {
	display: block;
	margin-right: 2em;
}
.about__text {
	color: rgb(31, 26, 23);
}
.testimonials {
	padding: 4em 0 6em;
	background-color: var(--white-c);
}
.testimonials__items {
	margin: 2em auto 0;
	width: 80%;
	display: flex;
	justify-content: center;
	position: relative;
}
.testimonials__items:before {
	content: "";
	position: absolute;
    top: 50%;
    left: calc(100% - 50%);
    height: 120px;
    width: 1px;
	background-color: var(--olive-c);
	transform: translate(50%,-50%);
}
.testimonials__items:after {
	content: "";
	position: absolute;
    top: 120%;
    left: calc(100% - 50%);
	transform: translate(-50%,100%);
    height: 1px;
    width: 20%;
	background-color: var(--olive-c);
}
.testimonials__item {
	margin: 0 2.5em;
}
.testimonials__wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1em;
}
.testiomonials__img {
	display: block;
	margin-right: 1em;
}
.testimonials-card__title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.testimonials__name {
	color: var(--title-c);
	font-family: var(--title-f-f);
	margin-bottom: 0.5em;
}
.testimonials__date {
	color: rgb(175, 175, 175);
	font-size: 0.8rem;
}
.testimonials__text {
	color: var(--title-c);
	font-size: 0.8rem;
}
.footer {
	padding-top: 4em;
}
.footer__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2em;
}
.footer__info {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
}
.footer__adress {
	margin-left: 7em;
}
.footer__schedule {
	margin-left: 7em;
}
.contact__title {
	font-size: 1rem;
	margin-bottom: 0.7em;
}
.footer__phone {
	text-decoration: none;
	color: var(--title-c);
	display: block;
	margin-bottom: 0.3em;
}
.footer__email {
	text-decoration: none;
	color: var(--title-c);
	display: block;
}
.schedule__weekdays {
	margin-bottom: 0.3em;
}
.footer__city {
	font-size: 1rem;
	margin-bottom: 0.7em;
}
.footer__bottom {
	height: 2em;
	background-color: rgb(98, 93, 93);
	display: flex;
	justify-content: center;
	align-items: center;
}
.copy {
	text-align: center;
	color: var(--white-c);
	font-size: 0.7rem;
}
/*Стили для pop-up зворотній зв’язок */
.pop-up {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
	box-sizing: border-box;
	z-index: 10;
}
.form-bg {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(98, 93, 93, 0.8);
	width: 100%;
	height: 100%;
}
.form-call {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--white-c);
	padding:  5em 3em;
	border-radius: 5px;
	z-index: 15;
}
.popup-close {
	position: absolute;
	top: 15px;
	right: 1px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.popup-close__item {
	display: block;
	height: 3px;
	width: 30px;
	background-color: var(--title-c);
}
.popup-close__item:first-child {
	transform: rotate(45deg) translate(12px,5px);
}
.popup-close__item:last-child {
	transform: rotate(-45deg) translate(-3px,10px);
}
.form-call__items {
	display: flex;
	flex-direction: column;
}
.form-call__items label {
	color: var(--title-c);
}
.form-call__items label[for="phonenamber"] {
	margin-top: 1em;
}
.call__item {
	width: 300px;
	height: 45px;
	background-color: rgb(217, 217, 217);
	border: none;
	border-top: 2px solid rgb(173, 173, 173);
	font-size: 1.5rem;
	color: var(--olive-c);
	box-sizing: border-box;
	margin-top: 0.3em;
}
.call__item:focus {
	border: 2px solid var(--olive-c);
	background-color: var(--white-c);
}
.form-call__text:last-child {
	margin-top: 2em;
}
.fixed {
	position: fixed;
}
.show {
	display: block;
}
.pop-up__btn {
	margin-top: 2em;
    height: 60px;
    text-transform: uppercase;
    font-family: var(--button-f-f);
    cursor: pointer;
    color: var(--title-c);
    position: relative;
    transition: 0.3s;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.pop-up__btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--olive-c);
	display: block;
	transition: 0.4s;
}
.pop-up__btn:hover:before {
	width: 100%;
}
.pop-up__btn:hover .btn__text {
	color: var(--white-c);
}
/*конец стилей для pop-up зворотній зв’язок */
.catalog-page .catalog {
	margin-top: 5em;
}
.catalog-gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3em 0;
}
.gallery__item {
	flex-basis: 23%;
}
.catalog-page .gallery__item:nth-child(n+5) {
	margin-top: 2em;
}
.catalog-page .gallery__item:first-child .card__title {
    font-size: 1rem;
    margin-bottom: 0.2em;
}
.catalog-page .gallery__item:first-child .card__price {
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}
.catalog-page .gallery__item:first-child .card__price-olive {
    font-size: 1rem;
}
.catalog-page .gallery__item:first-child .per-month {
    font-size: 1rem;
}
.catalog-page .gallery__item:first-child .car-list {
    margin: 0 0.5em;
}
.catalog-page .gallery__item:first-child .car-list__item {
    font-size: 0.7rem;
    flex: 1 1 40%;
}
.catalog-page .gallery__item:first-child .car-list__item-white {
    font-size: 0.8rem;
}
.catalog-page footer {
	border-top: 3px solid var(--olive-c);
}
/* Конец стили для страницы каталог */
@media (max-width: 1750px) {
	.logo {
		width: 280px;
	}
	.hero-buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 2em;
		max-width: 50em;
		width: 100%;
		margin: 2.5em auto;
	}
	.form-buy {
		padding: 2em 9em;
	}
	.about__items {
		padding-right: 5em;
	}
	.about__photo {
		width: 70%;
	}
}
@media (max-width: 1600px) {
	.logo {
		width: 200px;
	}
	.wrapper {
		padding: 0 2em;
	}
	.about__items {
		padding-right: 2em;
	}
	.about__photo {
		width: 65%;
	}
	.about__text {
		font-size: 1.2rem;
	}
	.testimonials__item {
		flex: 0 1 350px;
	}
}
@media (max-width: 1432px) {
	.header-top__wrap {
		width: 80%;
	}
	.header-bottom__wrap {
		width: 80%;
	}
	.header__email {
		margin-right: 0;
	}
	.schedule {
		margin-right: 0em;
	}
	.social {
		margin-right: 0;
	}
	.button__item {
		padding: 0.35em 1.5em;
	}
	.hero-buttons {
		grid-gap: 1.5em;
	}
	.hero-buttons__item {
		font-size: 1rem;
	}
	.form-buy {
		padding: 2em 4em;
	}
	.form__items {
		grid-column-gap: 1.5em;
	}
	.form-buy__item {
		width: 100%;
	}
	.gallery__item:hover .car-info {
		height: calc(75% - 6px);
		opacity: 1;
	}
	.card__text {
		height: 24%;
	}
	.card__text {
		padding: 0 0.5em;
	}
	.per-month {
		font-size: 0.8rem;
	}
	.card__price {
		margin-bottom: 0;
		font-size: 0.7rem;
	}
	.card__price-olive {
		font-size: 0.9rem;
	}
	.car-list__item {
		font-size: 0.7rem;
		margin-top: 0.8em;
	}
	.car-list__item-white {
		font-size: 0.7rem;
	}
	.services__info {
		padding: 0 1.5em;
		text-align: center;
	}
	.about__photo {
		margin-right: 1.4em;
		width: 60%;
	}
	.about__text {
		font-size: 1rem;
	}
	.footer {
		padding-top: 3em;
	}
	.testimonials__items {
		width: 90%;
	}
	.slick-prev {
		left: -25px;
		z-index: 5;
	}
	.slick-next {
		right: -25px;
	}
	/* Мобильный стили для станицы каталог max-width: 1432px */
	.gallery__item {
		flex-basis: 33%;
	}
	.catalog-page .gallery__item:nth-child(n+4) {
		margin-top: 2em;
	}
	.catalog-page .gallery__item:last-child {
		margin-right: auto;
		margin-left: 0.5%;
	}
	.catalog-page .card__text {
		position: relative;
		bottom: 0%;
		top: 48%;
		left: 0;
		width: 100%;
		height: fit-content;
		margin: 0 0;
		padding: 0.3em 0.3em;
		border-bottom: 1px solid var(--olive-c);
	}
	.catalog-page .gallery__item:first-child .card__price {
		font-size: 0.7rem;
	}
	.catalog-page .gallery__item:first-child .card__price-olive {
		font-size: 0.9rem;
	}
	.catalog-page .gallery__item:first-child .per-month {
		font-size: 0.8rem;
	}
	.catalog-page .gallery__item:first-child .car-list {
		margin: 0 0.5em;
	}
	.catalog-page .gallery__item:first-child .car-list__item {
		font-size: 0.7rem;
		flex: 1 1 40%;
	}
	.catalog-page .gallery__item:first-child .car-list__item-white {
		font-size: 0.8rem;
	}
	.catalog-page footer {
		border-top: 3px solid var(--olive-c);
	}
	/* Конец мобильный стилей для станицы каталог max-width: 1432px */
}
@media (max-width: 1075px) {
	.header__email {
		font-size: 0.8rem;
	}
	.schedule__item {
		font-size: 0.8rem;
	}
	.social {
		display: flex;
	}
	.social__link {
		width: 100%;
	}
	.header__phone {
		font-size: 0.9rem;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}
	.header-top__wrap {
		width: 100%;
		height: 10vh;
	}
	.header-bottom__wrap {
		width: 100%;
		height: 15vh;
	}
	.nav {
		display: flex;
		align-items: center;
	}
	.menu {
		height: 75vh;
		width: 100vw;
		position: absolute;
		top: 100%;
		left: 0;
		flex-direction: column;
		background-color: var(--white-c);
		justify-content: center;
		align-items: center;
		margin-left: -100vw;
		transition: 0.3s;
		z-index: 1;
	}
	.menu__item {
		height: 15%;
		align-items: center;
		padding: 0 0;
		line-height: 0.5;
		border-bottom: 1px solid var(--olive-c);
		width: 100%;
		justify-content: center;
		font-size: 1.5rem;
	}
	.menu__item:first-child {
		margin-left: 0;
		border-top: 1px solid var(--olive-c);
	}
	.menu__link {
		font-size: 1.2rem;
	}
	.burger {
		display: flex;
		height: 20px;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
	}
	.burger__item {
		width: 35px;
		height: 3px;
		background-color: var(--title-c);
		transition: 0.3s;
	}
	.burger__item:first-child.open {
		transform: translateY(8px) rotate(45deg);
	}
	.burger__item:nth-child(2n).open {
		display: none;
	}
	.burger__item:last-child.open {
		transform: translateY(-9px) rotate(-45deg);
	}
	.show-menu {
		margin-left: 0;
	}
	.form-buy {
		padding: 1em 2em;
	}
	.form__items {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-column-gap: 2em;
		grid-row-gap: 1em;
		grid-auto-flow: column;
	}
	.form__btn {
		grid-column: 2;
		grid-row: 4;
		width: 200px;
		height: 50px;
		margin-top: auto;
		margin-left: auto;
	}
	.gelarry {
		margin-top: 2em;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-auto-flow: column;
		row-gap: 1em;
		column-gap: 1em;
	}
	.gallery__item {
		position: relative;
		width: auto;
		height: fit-content;
		box-sizing: border-box;
		cursor: pointer;
		grid-column-start: auto;
	}
	.gallery__item:first-child {
		width: 100%;
		grid-column-start: span 2;
	}
	.services-gallery__item {
		flex: 0 1 32%;
	}
	.services__info {
		padding: 0 1em;
		text-align: center;
	}
	.services__title {
		font-size: 0.9rem;
	}
	.servisec__text {
		font-size: 0.8rem;
	}
	.about__items {
		position: relative;
	}
	.about__photo {
		width: 100%;
		height: inherit;
		margin-right: 0;
	}
	.about__text {
		position: absolute;
		top: 50%;
		right: 5%;
		width: 70%;
		transform: translateY(-50%);
		background-color: rgba(217, 217, 217, 0.9);
		padding: 1em 1.5em;
		border-radius: 5px;
		color: var(--title-c);
	}
	.testimonials__items {
		width: 100%;
	}
	.testimonials__items:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		height: 120px;
		transform: translate(-50%, -50%);
	}
	.testimonials__items:after {
		left: 50%;
		transform: translate(-50%,100%);
	}
	.testimonials__item {
		flex: 0 1 300px;
	}
	.testiomonials__img {
		display: block;
		margin-right: 0.7em;
	}
	.testimonials__name {
		font-size: 1rem;
	}
	.testimonials__date {
		font-size: 0.7rem;
	}
	.slick-prev, .slick-next {
		width: 30px;
		height: 30px;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 20px;
	}
	.slick-dots {
		position: absolute;
		bottom: -85px;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
	}
	.footer__adress {
		margin-left: 3em;
	}
	.footer__schedule {
		margin-left: 3em;
	}
	/* Мобильный стили для станицы каталог max-width: 1075px */
	.catalog-page .gallery__item {
		flex-basis: 48%;
		display: flex;
		flex-direction: column;
	}
	.catalog-page .gallery__item:nth-child(n+3) {
		margin-top: 1em;
	}
	.catalog-page .car-info {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		background-color: rgba(15, 15, 15, 0.8);
		border-top: none;
		border-bottom: 3px solid var(--olive-c);
		transition: 0.4s;
		order: 3;
	}
	.catalog-page .gallery__item:first-child .car-list {
		margin: 0;
		padding: 0;
	}
	.catalog-page .car-list {
		margin: 0;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0.7em;
	}
	.catalog-page .gallery__item:first-child .car-list {
		margin: 0;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0.7em;
	}
	.catalog-page .car-list__item {
		flex: 0 1 40%;
	}
	.catalog-page .gallery__item:first-child .car-list__item {
		flex: 0 1 40%;
	}
	.catalog-page .gallery__item:first-child .car-list__item-white {
		font-size: 0.7rem;
	}
	/* Конец мобильный стилей для станицы каталог max-width: 1075px */
	/* Мобильный стили для popup-call max-width: 1075px */
	.pop-up {
		z-index: 10;
	}
		.form-call {
		padding: 4em 2em;
	}
	/* Конец мобильный стилей для popup-call max-width: 1075px */
}
@media (max-width: 770px) {
	.header__email {
		display: none;
	}
	.logo {
		width: 120px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.title {
		font-size: 1.7rem;
	}
	.button__item {
		padding: 0.4em 0.7em;
	}
	.button__item {
		font-size: 0.7rem;
	}
	.button__item + .button__item {
		margin-top: 0.9em;
	}
	.hero {
		height: 100%;
		padding: 2em 0;
	}
	.hero-buttons {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.hero-buttons__item {
		font-size: 0.9rem;
	}
	.form-buy {
		padding: 1em 0.8em;
	}
	.form__items {
		grid-column-gap: 1em;
		grid-row-gap: 0.7em;
	}
	.form-buy label {
		font-size: 0.9rem;
	}
	.form-buy__item {
		width: 100%;
		height: 40px;
		font-size: 1rem;
	}
	.form__btn[type="submit"] {
		font-size: 0.7rem;
	}
	.gelarry {
		row-gap: 0.5em;
		column-gap: 0.5em;
	}
	.card__title {
		font-size: 0.8rem;
	}
	.card__price {
		font-size: 0.5rem;
	}
	.card__price-olive {
		font-size: 0.7rem;
	}
	.per-month {
		font-size: 0.6rem;
	}
	.card__text {
		height: 27%;
		background-color: rgb(0, 0, 0, 0.7);
	}
	.car-info {
		display: none;
	}
	.services-gallery__item {
		flex: 0 1 48%;
	}
	.services-gallery__item:nth-child(n+3) {
		margin-top: 1.5em;
	}
	.about__items {
		height: 280px;
	}
	.about__text {
		right: 8%;
		font-size: 0.9rem;
		width: 75%;
	}
	.testimonials__items {
		width: 85%;
	}
	.testimonials__items:before {
		display: none;
	}
	.testimonials__wrap {
		justify-content: center;
	}
	.testimonials__text {
		text-align: center;
	}
	.footer__items {
		flex-direction: column;
	}
	.header__buttons {
		margin-bottom: 1.2em;
	}
	.footer__adress {
		margin-left: 1.5em;
	}
	.footer__schedule {
		margin-left: 1.5em;
	}
	.contact__title {
		font-size: 0.9rem;
		margin-bottom: 0.7em;
	}
	.footer__phone {
		font-size: 0.7rem;
	}
	.footer__email {
		font-size: 0.7rem;
	}
	.footer__city {
		font-size: 0.8rem;
	}
	.footer__street {
		font-size: 0.7rem;
	}
	.contact__title {
		font-size: 0.8rem;
	}
	.schedule__weekdays {
		font-size: 0.7rem;
	}
	.schedule__weekend {
		font-size: 0.7rem;
	}
	/* Мобильный стили для станицы каталог max-width: 770px */
	.catalog-page .catalog {
		margin-top: 0em;
		padding-bottom: 2em;
	}
	.catalog-page .card__text {
		position: relative;
		bottom: 0%;
		top: 0;
		left: 0;
		width: 100%;
		height: fit-content;
		margin: 0 0;
		padding: 0.3em 0.3em;
		border-bottom: 1px solid var(--olive-c);
	}
	.catalog-page .gallery__item:first-child .card__text {
		position: relative;
		bottom: 0%;
		left: 0;
		width: 100%;
		height: fit-content;
		margin: 0 0;
		padding: 0.3em 0.3em;
		background-color: rgba(15, 15, 15, 0.8);
	}
	.catalog-page .gallery__item:nth-child(n+4) {
		margin-top: 1em;
	}
	.catalog-page .gallery__item {
		flex-basis: 100%;
	}
	.catalog-page .gallery__item:nth-child(n+2) {
		margin-top: 1.5em;
	}
	.catalog-page .car-info {
		display: block;
	}
	.catalog-page .card__text {
		padding: 1em 0.7em;
	}
	.catalog-page .gallery__item:first-child .card__text {
		padding: 1em 0.7em;
	}
	.catalog-page .card__title {
		font-size: 1.5rem;
		margin-bottom: 0.5em;
	}
	.catalog-page .gallery__item:first-child .card__title {
		font-size: 1.5rem;
		margin-bottom: 0.5em;
	}
	.catalog-page .card__price {
		font-size: 0.9rem;
	}
	.catalog-page .gallery__item:first-child .card__price {
		font-size: 0.9rem;
	}
	.catalog-page .card__price-olive {
		font-size: 1.4rem;
	}
	.catalog-page .gallery__item:first-child .card__price-olive {
		font-size: 1.4rem;
	}
	.catalog-page .per-month {
		font-size: 1.4rem;
	}
	.catalog-page .gallery__item:first-child .per-month {
		font-size: 1.4rem;
	}
	.catalog-page .car-list {
		padding-left: 1em;
		padding-right: 0.9em;
		padding-bottom: 0.7em;
		padding-top: 1em;
	}
	.catalog-page .gallery__item:first-child .car-list {
		padding-left: 1em;
		padding-right: 0.9em;
		padding-bottom: 0.7em;
		padding-top: 1em;
	}
	.catalog-page .car-list__item {
		font-size: 0.9rem;
		margin-top: 0.8em;
	}
	.catalog-page .gallery__item:first-child .car-list__item {
		font-size: 0.9rem;
		margin-top: 0.8em;
	}
	.catalog-page .car-list__item-white {
		font-size: 0.9rem;
	}
	.catalog-page .gallery__item:first-child .car-list__item-white {
		font-size: 0.9rem;
	}
	/*Конец мобильный стилей для станицы каталог max-width: 770px */
	/* Мобильный стили для popup-call max-width: 770px */
	.form-call__items label {
		font-size: 1rem;
	}
	.pop-up__btn {
		height: 40px;
	}
	/* Конец мобильный стилей для popup-call max-width: 770px */
}
@media (max-height: 500px) {
	.header-bottom__wrap {
		width: 100%;
		height: 20vh;
	}
	.logo {
		width: 100px;
	}
}
@media (max-width: 500px) {
	.wrapper {
		padding: 0 1em;
	}
	.header-top__wrap {
		height: 8vh;
	}
	.schedule__item {
		font-size: 0.6rem;
	}
	.social-icon {
		width: 25px;
	}
	.header__phone {
		font-size: 0.7rem;
	}
	.button__item {
		padding: 0.4em 0.4em;
	}
	.button__item {
		font-size: 0.6rem;
	}
	.header-bottom__wrap {
		height: 14vh;
	}
	.menu {
		height: 78vh;
	}
	.hero-buttons {
		grid-gap: 0.8em;
		margin: 2em auto;
	}
	.hero-buttons__item {
		font-size: 0.7rem;
	}
	.form__items {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 0;
		grid-row-gap: 1em;
		grid-auto-flow: dense;
	}
	.form__btn {
		grid-column: 1;
		grid-row: 8;
		width: 200px;
		height: 50px;
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery__item:first-child .card__title {
		font-size: 1.2rem;
		margin-bottom: 0.3em;
	}
	.gallery__item:first-child .card__price {
		font-size: 0.8rem;
	}
	.gallery__item:first-child .card__price-olive {
		font-size: 1rem;
	}
	.gallery__item:first-child .per-month {
		font-size: 0.9rem;
	}
	.card__text {
		padding: 0 0.2em;
	}
	.gallery__item:first-child .card__text {
		padding: 0 0.5em;
		padding-top: 0.5em;
	}
	.card__title {
		font-size: 0.7rem;
	}
	.card__price-olive {
		font-size: 0.5rem;
	}
	.card__price {
		font-size: 0.4rem;
	}
	.per-month {
		font-size: 0.4rem;
	}
	.services-gallery__item {
		flex: 1 1 100%;
	}
	.services-gallery__item:nth-child(n+2) {
		margin-top: 1em;
	}
	.about__items {
		padding-right: 0;
	}
	.about__text {
		right: 50%;
		font-size: 0.8rem;
		width: 90%;
		padding: 0.8em 1.2em;
		transform: translate(50%,-50%);
	}
	.testimonials__items {
		width: 100%;
	}
	.testiomonials__img {
		width: 30%;
	}
	.slick-prev, .slick-next {
		width: 25px;
		height: 25px;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 15px;
	}
	.testiomonials__img {
		display: block;
		margin-right: 0.5em;
	}
	.testimonials__name {
		font-size: 0.8rem;
	}
	.testimonials__text {
		color: var(--title-c);
		font-size: 0.7rem;
	}
	.slick-dots li button:before {
		font-size: 12px;
	}
	.footer {
		padding-top: 1.5em;
	}
	.footer .button__item {
		padding: 0.5em 1em;
		font-size: 0.8rem;
	}
	.footer__items {
		padding-bottom: 1.2em;
	}
	.footer__info {
		display: flex;
		justify-content: center;
		font-size: 0.9rem;
		flex-wrap: wrap;
	}
	.footer__adress {
		margin-left: 3em;
	}
	.footer__schedule {
		margin-left: 0;
		margin-top: 1.5em;
		flex-basis: 50%;
		text-align: center;
	}
	/* Мобильный стили для станицы каталог max-width: 500px */
	.catalog-page .card__text {
		padding: 0.7em 0.5em;
	}
	.catalog-page .card__title {
		font-size: 1rem;
		margin-bottom: 0.5em;
	}
	.catalog-page .card__price {
		font-size: 0.7rem;
	}
	.catalog-page .card__price-olive {
		font-size: 1rem;
	}
	.catalog-page .per-month {
		font-size: 1rem;
	}
	.catalog-page .car-list {
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0.7em;
		padding-top: 0.7em;
	}
	.catalog-page .car-list__item {
		font-size: 0.7rem;
		margin-top: 0.5em;
	}
	.catalog-page .car-list__item-white {
		font-size: 0.7rem;
	}
	/*Конец мобильный стилей для станицы каталог max-width: 500px */
	/* Мобильный стили для popup-call max-width: 500px */
	.form-call {
		padding: 3em 1.5em;
	}
	.call__item {
		width: 270px;
		height: 40px;
	}
	.popup-close__item {
		width: 25px;
	}
	/* Конец мобильный стилей для popup-call max-width: 500px */
	
}